.page {
    margin: 10px;
    &__section {
        position: fixed;
        bottom: 10px
        width: 300px
    }
    &__section_position_left {
        left: 10px
    }
    &__section_position_right {
        right: 10px
    }
    &__randomize {
        font-size: 40px;
    }
}
