.icons {
    display: inline-block
    background-repeat: no-repeat

    icons = tree tv table bean-bag nexus corner

    for icon in icons {
        &_type_{icon} {
            file = "" + s('%s.png', icon) + ""
            size = image-size(file)
            width: size[0]
            height: size[1]
            background-image: url(file)
        }
        &_small&_type_{icon} {
            file = "" + s('%s_small.png', icon) + ""
            size = image-size(file)
            width: size[0]
            height: size[1]
            background-image: url(file)
        }
    }
}
