.icons {
    &__bean-bag {
        width: 73px
        height: 65px
        background-image: url(icons__bean-bag.png)
    }
    &__tv {
        width: 38px
        height: 77px
        background-image: url(icons__tv.png)
    }
    &__tree {
        width: 73px
        height: 65px
        background-image: url(icons__tree.png)
    }
    &__table {
        width: 95px
        height: 95px
        background-image: url(icons__table.png)
    }
}
