.json {
    & textarea {
        font-family: 'Courier New', 'Andale Mono', monospace
    }
    &__dump {
        width: 220px
        height: 200px
    }
    &__selected {
        width: 220px
        height: 30px
    }
    &__debug {
        width: 220px
        height: 250px
    }
    &__variants {
        padding-bottom: 20px;
    }
    &__variant {
        cursor: pointer;
        font-size: 20px;
        color: #408BED;
        &_current_yes {
            color: black;
            cursor: inherit;
        }
    }
}
