.json {
    position: fixed;
    bottom: 10px
    left: 10px
    &__state {
        width: 200px
        height: 200px
    }
    &__debug {
        width: 200px
        height: 200px
    }
    &__variants {
        padding-bottom: 20px;
    }
    &__variant {
        cursor: pointer;
        font-size: 20px;
        color: #408BED;
        &_current_yes {
            color: black;
            cursor: inherit;
        }
    }
}
