.page {
    &__side {
        position: fixed;
        left: 0;
        width: 380px;
        &_position_right {
            right: 0;
            left: auto;
        }
    }
    &__json-wrapper {
        width: 400px;
    }
    &__content {
        position: absolute;
        left: 400px;
    }
    &__section {
        border: 1px solid silver
        margin: 5px
        padding: 10px
        user-select: none
    }
    &__title {
        margin: 3px 0 10px 0
    }
}
