.room-controls {
    &__item {
        position: relative
        height: 20px
        line-height: @height
    }
    &__item + &__item {
        margin-top: 5px
    }
    &__label {
        margin-left: 3px
    }
    &__action {
        padding-bottom: 1px
        border-bottom: 1px dotted black
        cursor: pointer
    }
    &__icon {
        position: absolute
        right: 5px
        filter: grayscale()
    }
    &__icon.icons_type_tv {
        right: -10px
    }
}
