.room
{
    margin: 0 auto;
    width: 394px;
    height: 648px;
    background-image: url('room.png');
}
.room__randomize
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
}
